<ion-header>
    <ion-navbar color="primary">
        <ion-title>
            QR
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>


    <button ion-button block (click)="scan()">
    Scanear
  </button>



</ion-content>